CompileFlags:
  CompilationDatabase: build

  Add:
    - -std=c++23
    - -stdlib=libc++

Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - pp_file_not_found

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Index:
  Background: Build
