Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-auto,
  modernize-use-using,
  modernize-redundant-void-arg,
  modernize-loop-convert,
  performance-*,
  readability-const-return-type,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-use-anyofallof,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -performance-avoid-endl,
  -performance-enum-size

WarningsAsErrors: '*'

HeaderFilterRegex: '(^|/)(include/sysal|src|tests|examples)/.*\.(h|hpp|c|cpp)$'

FormatStyle: file
